@CHARSET "UTF-8";

#content table {
	margin: 10px;
	padding: 0px;
	border-spacing: 0px;
}

#content table td, #content table th {
	vertical-align: middle;
	padding: 5px 10px;
}

#content table th {
	background-color: #eeeeee;
}