
p {
	margin: 10px 5px
}


div#header {
	background-color: #F3F2ED;
	height: 80px;
	line-height: 80px;
	margin: 0;
	padding-left: 10px;
	font-size: 1.2em;
}


div#header .right {
	float: right;
	width: 350px;
}
div#header .left {
	float: left;
	width: 350x;
}


div#container {
	text-align: left;
	width: 900px;
	margin: 0 auto
}

div#content {
	float: right;
	width: 700px
}


#content table{
	padding-left: 5px
}


div#navigation {
	background: #F6F0E0;
	float: left;
	width: 200px
	
}

div#navigation ul {
	margin: 15px;
	padding: 0;
}

div#navigation li {
	margin-bottom: 5px;
	font-size: 1.2em;
}

div#footer {
	background: #BFBD93;
}

div#footer p {
	margin: 0;
	padding: 5px 10px
}

div#footer {
	clear: both;
	width: 100%
}

.error {
	color: #ff0000;
}

.errorblock {
	margin-left: 5px;
	width: 400px;
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
}

.link {
	font-size: 1.2em;
	color: #BFBD93;
	margin-bottom: 10px;
}

input[type="submit"] {
	background: #BFBD93;
	height: 30px;
	border:1px solid #268a16;
	font-size: 1.2em;	
}

input[type="submit"]:hover {
	cursor: hand;
}

.button {
	display: inline-block;
  	width: 60px;
  	height: 20px;
	background: #BFBD93;
	border:1px solid #268a16;
	font-size: 1.2em;
	padding: 5px;	
}
.button :hover {
	cursor: hand;
}

