p {
	margin: 10px 5px
}

#map-canvas {
  width: 800px;
  height: 500px;
  margin: 0px;
  padding: 0px;
}

#gmapDirectionsPanelWrapper {
  width: 800px;
  height: 400px;
  display: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-inputOrigin, #pac-inputDestiny {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 300px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-inputOrigin:focus, #pac-inputDestiny:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  /* Regular padding-left + 1. */
  width: 301px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#directions-panel {
  height: 100%;
  width: 800px;
  overflow: auto;
  display: none;
}

#map-canvas, #directions-panel {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

div#header {
	background-color: #F3F2ED;
	height: 80px;
	line-height: 80px;
	margin: 0;
	padding-left: 10px;
	font-size: 1.2em;
}

div#header .right {
	float: right;
	width: 350px;
}

div#header .left {
	float: left;
	width: 350px;
}

div#container {
	text-align: left;
	width: 900px;
	margin: 0 auto
}

div#content {
	float: right;
	width: 700px
}

#content table {
	padding-left: 5px;
	margin: 10px;
	padding: 0px;
	border-spacing: 0px;
}

#content table td, #content table th {
	vertical-align: middle;
	padding: 5px 10px;
}

#content table th {
	background-color: #eeeeee;
}

div#navigation {
	background: #F6F0E0;
	float: left;
	width: 200px
}

div#navigation ul {
	margin: 15px;
	padding: 0;
}

div#navigation li {
	margin-bottom: 5px;
	font-size: 1.2em;
}

div#footer {
	background: #BFBD93;
}

div#footer p {
	margin: 0;
	padding: 5px 10px
}

div#footer {
	clear: both;
	width: 100%
}

.error {
	color: #ff0000;
}

.errorblock {
	margin-left: 5px;
	width: 400px;
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
}

.link {
	font-size: 1.2em;
	color: #BFBD93;
	margin-bottom: 10px;
}

input[type="submit"] {
	background: #BFBD93;
	height: 30px;
	border: 1px solid #268a16;
	font-size: 1.2em;
	cursor: pointer;
}

.button {
	display: inline-block;
	width: auto;
	height: 20px;
	background: #BFBD93;
	border: 1px solid #268a16;
	font-size: 1.2em;
	padding: 5px;
}

#titulo_seccion {
	font-size: 1.4em;
	margin-bottom: 5px;
	text-align: center;
	padding: 10px;
}

#titulo_pagina {
	font-size: 1.4em;
	text-decoration: underline;
	font-weight:bold;
}

.ui-widget-header.dialog-class {
	background: #BFBD93;
	font-weight: normal;
}

.ui-button.ui-widget.dialog-class {
	background: #BFBD93;
}
