@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0
}

body {
	font: 76% arial, sans-serif;
	text-align: center
}

p {
	margin: 0 10px 10px
}

a {
	padding: 5px;
	text-decoration: none;
	color: #000000;
}

div#header {
	background-color: #F3F2ED;
	height: 80px;
	line-height: 80px;
	margin: 0;
	padding-left: 10px;
	font-size: 1.5em;
}


div#header .right {
	float: right;
	width: 350px;
}
div#header .left {
	float: left;
	width: 350x;
}


div#container {
	text-align: left;
	width: 900px;
	margin: 0 auto
}

div#content {
	float: right;
	width: 700px
}


div#content p {
	line-height: 1.4
}

#content table{
	padding-left: 5px
}

#content h2{
	padding-left: 5px
}

div#navigation {
	background: #F6F0E0;
	float: left;
	width: 200px
	
}

div#navigation ul {
	margin: 15px;
	padding: 0;
	list-style-type: none;
}

div#navigation li {
	margin-bottom: 5px;
	font-size: 1.5em;
}

div#footer {
	background: #BFBD93;
}

div#footer p {
	margin: 0;
	padding: 5px 10px
}

div#footer {
	clear: both;
	width: 100%
}

div.login {
	position: absolute;
	left: 50%;
	margin-top: 200px;
	margin-left: -200px; width : 400px;
	padding: 20px;
	background: #F6F0E0;
	border-radius: 10px;
	line-height: 10px;
	width: 400px
}

div.login h1 {
	background: #BFBD93;
	line-height: 40px;
	font-size: 1.5em;
	text-align: center;
}

div.login p {
	margin: 20px 0px;
}

div.login input {
	width: 400px;
	margin-bottom: 10px;
}

div.login p.submit {
	text-align: right;
}

div.login input[type="submit"] {
	width: 100px;
}

.error {
	color: #ff0000;
}

.login-errorblock {
	position: absolute;
	left: 50%;
	margin-top: 100px;
	margin-left: -200px;
	width: 400px;
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
} 

.errorblock {
	margin-left: 5px;
	width: 400px;
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
}

.link {
	font-size: 1.5em;
	color: #BFBD93;
}

input[type="submit"] {
	background: #BFBD93;
	height: 30px;
	border:1px solid #268a16;
	font-size: 1.2em;	
}
input[type="submit"]:hover {
	cursor: hand;
}

.button {
	display: inline-block;
  	width: 50px;
  	height: 20px;
	background: #BFBD93;
	border:1px solid #268a16;
	font-size: 1.2em;	
}
.button :hover {
	cursor: hand;
}

